html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  padding: 10px;
}

.header {
  padding: 20px 15px;
}

.nav-text {
  color: #656565;
  font-family: Arial, sans-serif;
  font-size: .8em;
  padding: 0;
}

.nav-text:hover {
  text-decoration: underline;
}

.navbar li {
  display: inline;
  float: right;
}

.sign-in {
  border: 1px solid #3083FF;
  background-color: #3083FF;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: .8em;
  color: white;
  padding: 5px 12px;
  margin-right: 10px;
}

.sign-in:hover {
  box-shadow: -1px 1px 1px #ccc;
}
.icon {
  height: 15.3px;
  margin: 0 8px;
}

.content {
  padding: 10px;
  padding-bottom: 80px;
}

.google {
  height: 120px;
}

.image {
  margin-top: 130px;
  text-align: center;
}

.bar-buttons {
  text-align: center;
}

.search-bar {
  font-size: 1.3em;
}

.mic {
  height: 25px;
  position: relative;
  top: 5px;
  left: -27px
}

.search-buttons {
  margin: 15px;
}

.search-buttons button {
  font-size: .70em;
  font-weight: 600;
  padding: 7px;
  margin: 0 9px;
  background-color: #F0F0F0;
  border: 1px solid #ddd;
  border-radius: 2px
}



.footer {
  width: 100%;
  height: 43px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eee;
}

.foot-nav {
  margin-top: 13px
}

.foot-links {
  padding: 0 10px 0 10px;
}

.foot-links li {
  display: inline-block;
  margin-left: 12px;
  padding: 0 10px
}

.foot-links-right {
  float: right;
}
